{% extends "base.html" %}

{% block title %}drunk. - Boissons{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style_party_view.css') }}">
{% endblock %}

{% block content %}
<h2>Liste des Boire</h2>
<div class="table-container" id="drinks-table">
    <table class="table-striped">
        <thead>
        <tr>
            <th>Alcool</th>
            <th>Nom</th>
            <th>% alcool</th>
            <th>Ingrédients</th>
            <th>Description</th>
            <th>Page de la boisson</th>
        </tr>
        </thead>
        <tbody>
        {% for drink in drinks %}
        <tr>
            <td>{{ '✅' if drink.alcool else '❌' }}</td>
            <td>{{ drink.nom }}</td>
            <td>{{ drink.degre }}</td>
            <td>{{ drink.ingredients }}</td>
            <td>{{ drink.description }}</td>
            <td><a href="{{ url_for('single_drink_route', drink_id=drink.id_boisson) }}" class="btn">Voir</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h2>Ajouter une Boisson</h2>
<a href="{{ url_for('create_drink_route') }}" class="btn">Ajouter une nouvelle boisson</a>
{% endblock %}