{% extends "base.html" %}

{% block title %}fesoif. - Boissons{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/styles/style_drink_single.css">
{% endblock %}

{% block content %}

<div class="single-drink-container">
    <h1>{{ drink.nom }}</h1>
    <p><strong>Alcool:</strong> {{ drink.alcool }}</p>
    <p><strong>% Alcool:</strong> {{ drink.degre }}</p>
    <p><strong>Ingrédients:</strong> {{ drink.ingredients }}</p>
    <p><strong>Description:</strong> {{ drink.description }}</p>
    <a href="/drinks">Retour à la liste des boissons</a>
</div>

{% endblock %}