<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fésoif{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style_base.css">

    <!-- police lilita one -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lilita+One&display=swap"
          rel="stylesheet">

    <!-- police hammersmith one -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lilita+One&display=swap"
        rel="stylesheet">

    <!-- police inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
<header>
    <nav>
        <h1><a href="/">drunk.</a></h1>
        <div id="user">
            {% if user %}
            <p>Bienvenue, {{ user.prénom }} !</p>
            {% else %}
            <p>Bienvenue ploucos, fais toi un compte !</p>
            {% endif %}
            <a href="/login">
                <img src="../static/images/user.png" alt="User Icon" id="user-icon"></a>
        </div>
    </nav>

</header>

<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; 2024 Fésoif</p>
</footer>
</body>

</html>