#cell-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
    padding: 1rem;
    grid-auto-rows: 125px;
    margin: 3em;
}

a {
    text-decoration: none;
}

.cell {
    background-color: #2b2b2b;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}

#cell-infos {
    grid-column: span 2;
    grid-row: span 2;
}

#cell-infos button {
    font-family: 'Inter', sans-serif;
    background-color: #af6f4c;
    border: none;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

#cell-infos button:hover {
    background-color: #873f37;
    transition-duration: 0.2s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

#cell-invitation {
    grid-column: span 2;
    grid-row: span 3;
}

#cell-invitation img{
    width: 30%;
}


#cell-participants {
    grid-column: span 2;
    grid-row: span 3;
}

.table-container {
    max-height: 300px; /* ou ce que tu veux */
    overflow-y: auto;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

thead {
    background-color: #222222;
    color: white ;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

tbody th, tbody td {
    color: #222222;
}

tbody tr:hover {
    background-color: #d9d9d9 !important;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#cell-boisson {
    grid-column: span 3;
    grid-row: span 4;
}

#add-conso-form {
    margin-top: 1em;
    font-family: 'Inter';
}

#add-conso-form .mb-3 {
    margin-bottom: 1.2rem;
}

#add-conso-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #fff;
}

#add-conso-form input[type="text"],
#add-conso-form input[type="number"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s ease-in-out;
}

#add-conso-form input:focus {
    outline: none;
    border-color: #3b4c57;
    box-shadow: 0 0 3px rgba(52, 152, 219, 0.3);
}

#drink-suggestions {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    border-top: none;
    z-index: 10;
}

#drink-suggestions .list-group-item {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#drink-suggestions .list-group-item:hover {
    background-color: #f0f0f0;
}

#add-conso-form button[type="submit"] {
    background-color: #acbe1c;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#add-conso-form button[type="submit"]:hover {
    background-color: #a2b419;
}




#cell-historique {
    grid-column: span 3;
    grid-row: span 4;
}
#cell-historique .table-container{
    max-height: 450px ;
}


.cell h2 {
    font-family: 'hammersmith One', sans-serif;

    font-size: 1.6rem;
    margin-bottom: 0.2em;
}

p {
    font-family: 'Inter';
    font-size: 0.9rem;
    color: #bbb;
}


@media (max-width: 768px) {
    #cell-container {
        margin: 1em;
    }

    #cell-soiree {
        grid-column: span 3;
        grid-row: span 2;
    }

    #cell-historique {
        grid-column: span 1;
        grid-row: span 3;
    }

    #cell-citation {
        grid-column: span 2;
        grid-row: span 1;
    }

    #cell-stats {
        grid-column: span 2;
        grid-row: span 2;
    }


}

#drinks-table, #stats-table{
    max-height: max-content;
}

.current-user-row {
    background-color: #ffeeba !important;
}