* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'hammersmith One', sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222;
    color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    padding: 1rem;
}

nav h1 a {
    font-family: 'Lilita One';
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#user {
    font-family: 'Hammersmith One';
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#user p {
    font-size: 1rem;
    color: #ccc;
}

#user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}


footer {
    font-family: 'Hammersmith One';
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}


@media (max-width: 768px) {

    #user p {
        display: none;
    }
}

.btn {
    background: #222222;
    color: #fff;
    padding: 0.5em 1.2em;
    border-radius: 0.7em;
    text-decoration: none;
    display: inline-block;
    margin:.5rem;
    transition: background 0.2s;
    cursor: pointer;
}
.btn:hover {
    background: #444;
    color: #fff;
}

table .btn{
    margin: 0;
}
