{% extends "base.html" %}

{% block title %}Fésoif - Profil{% endblock %}

{% block content %}
<a href="/">Retour à l'accueil</a>
<h2>Profil utilisateur</h2>
<ul>
    <li><strong>Nom :</strong> {{ user.nom }}</li>
    <li><strong>Prénom :</strong> {{ user.prénom }}</li>
    <li><strong>Email :</strong> {{ user.email }}</li>
    <li><strong>Âge :</strong> {{ user.âge }}</li>
    <li><strong>Poids :</strong> {{ user.poids }} kg</li>
    <li><strong>Genre :</strong> {{ user.genre }}</li>
    <li><strong>Date de création :</strong> {{ user.create_dt }}</li>
</ul>
{% endblock %}


