{% extends "base.html" %}

{% block title %}drunk. - Inscription{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<link rel="stylesheet" href="../static/styles/style_register.css">
<script src="../../static/scripts/register.js"></script>

<form action="/register{% if request.args.get('code') %}?code={{ request.args.get('code') }}{% endif %}" method="post">
  <h2>Inscription</h2>
  <div class="form-group">

    <label>Ajouter une photo de profil:</label>
    <input id="profile_picture_input" type="file" name="profile_picture" accept="image/*">
    <input type="hidden" name="profile_picture_base64" id="profile_picture_base64">

    <label for="pseudo">Pseudo:</label>
    <input type="text" id="pseudo" name="pseudo" required>

    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" min="8" required>

    <label for="confirm">Confirmer le mot de passe :</label>
    <input type="password" id="confirm" name="confirm" min="8" required>

    <label for="âge">Âge :</label>
    <input type="number" id="âge" name="âge" min="0" required>

    <label for="poids">Poids (kg) :</label>
    <input type="number" id="poids" name="poids" min="0" step="any" required>

    <label for="genre">Genre :</label>
    <label class="radio">
      <input name="genre" type="radio" value="Homme" required>
      <span>Homme</span>
    </label>
    <label class="radio">
      <input name="genre" type="radio" value="Femme" required>
      <span>Femme</span>
    </label>
    <label class="radio">
      <input name="genre" type="radio" value="Non_spec" required>
      <span>Non spécifié</span>
    </label>

    <button type="submit">S'inscrire</button>
  </div>
</form>

<p>Déjà inscrit ?
  <a href="/login{% if request.args.get('code') %}?code={{ request.args.get('code') }}{% endif %}">
    Connectez-vous ici
  </a>.
</p>
{% endblock %}