{% extends "base.html" %}

{% block title %}Fésoif - Inscription{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<link rel="stylesheet" href="../static/styles/style_register.css">
<form action="/register" method="post">
  <h2>Inscription</h2>
  <div class="form-group">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>

    <label for="prénom">Prénom :</label>
    <input type="text" id="prénom" name="prénom" required>

    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm">Confirmer le mot de passe :</label>
    <input type="password" id="confirm" name="confirm" required>

    <label for="âge">Âge :</label>
    <input type="number" id="âge" name="âge" min="0" required>

    <label for="poids">Poids (kg) :</label>
    <input type="number" id="poids" name="poids" min="0" step="any" required>

    <label for="genre">Genre :</label>
    <label class="radio">
      <input name="genre" type="radio" value="Homme" required>
      <span>Homme</span>
    </label>
    <label class="radio">
      <input name="genre" type="radio" value="Femme" required>
      <span>Femme</span>
    </label>
    <label class="radio">
      <input name="genre" type="radio" value="Non_spec" required>
      <span>Non spécifié</span>
    </label>

    <button type="submit">S'inscrire</button>
  </div>
</form>

<p>Déjà inscrit ? <a href="/login">Connectez-vous ici</a>.</p>

{% endblock %}